In [341]:
import pandas as pd
minfac = "minfac.csv"
# commo = pd.read_csv("Commodity.csv")
min_fac = pd.read_csv(minfac)

from pandas.io.json import json_normalize
import json

In [2]:
dataframe1 = pd.read_csv("NYSE.txt", delimiter = '\t')
  
# storing this dataframe in a csv file
dataframe1.to_csv('NYSE.csv', 
                  index = None)
symbol = pd.read_csv("NYSE.csv")

In [3]:
symbol.head()

  Symbol                         Description
0      A                Agilent Technologies
1     AA                          Alcoa Corp
2    AAC   Ares Acquisition Corporation Cl A
3  AAC.U  Ares Acquisition Corporation Units
4  AAC.W     Ares Acquisition Corporation WT

In [5]:
# df[df['model'].str.contains('ac')]

In [ ]:
ol= symbol[symbol['Description'].str.contains('Agilent')]

In [6]:
commo.head()

  Nickel - Monthly Price Unnamed: 1 Unnamed: 2 Unnamed: 3
0                  Month      Price     Change  Commodity
1                 Jan-19  11,523.09      6.35%     Nickel
2                 Feb-19  12,685.23     10.09%     Nickel
3                 Mar-19  13,026.27      2.69%     Nickel
4                 Apr-19  12,772.79     -1.95%     Nickel

In [7]:
new_header = commo.iloc[0]
commo_df= commo[1:]
commo_df.columns= new_header

In [8]:
new_header = df.iloc[0] #grab the first row for the header
df = df[1:] #take the data less the header row
df.columns = new_header #set the header row as the df header

NameError: name 'df' is not defined

In [9]:
commo_df['Commodity'].unique()

array(['Nickel', 'Cobalt', 'Lithium', 'Vanadium', 'Coal', 'Aluminum',
       'Copper', 'Iron'], dtype=object)

In [10]:
# min_fac

In [11]:
min_fac["commodity"].value_counts(ascending=True)

gold, selenium, silver                   1
marble - block                           1
ammonium Nitrate                         1
Bench gravel and loam: bench gravel      1
titanium, Rutile                         1
                                      ...
Petroleum: crude                       159
Gold                                   188
Iron and steel: crude steel            203
cement                                 207
Cement                                 570
Name: commodity, Length: 670, dtype: int64

In [12]:
min_fac['commodity'].unique()

array(['Alumina', 'Aluminum', 'Antimony', 'Bauxite', 'Bentonite',
       'Cement', 'Chromite', 'Coal: black', 'Coal: brown', 'Cobalt',
       'Copper', 'Diamond', 'Diatomite', 'Dolomite', 'Feldspar', 'Garnet',
       'Gas: condensate', 'Gas: natural', 'Gas: natural, liquefied',
       'Gold', 'Gypsum', 'Iron ore', 'Kaolin', 'Lead', 'Magnesite',
       'Manganese', 'Manganese alloys', 'Mineral sands', 'Molybdenum',
       'Nickel', 'Opal', 'Petroleum', 'Phosphate rock', 'Pig iron',
       'Salt', 'Silica', 'Silver', 'Spodumene', 'Steel', 'Talc',
       'Tantalum: tantalite (Ta2O5)', 'Tin', 'Tungsten', 'Uranium',
       'Vanadium', 'Zinc', 'Coal', 'Fertilizer', 'Granite',
       'Petroleum: crude', 'Petroleum: refined', 'Ferrosilicon',
       'Gemstone', 'Limestone', 'Asbestos', 'Barite', 'Bismuth',
       'Cadmium', 'Copper: refined', 'Gallium', 'Germanium',
       'Gold: refined', 'Graphite', 'Indium',
       'Iron and steel: crude steel', 'Iron and steel: ferroalloys',
       'Iron and steel: iron ore', 'Lithium', 'Magnesium',
       'Manganese: metal', 'Molybdenum: concentrate', 'Nickel: refined',
       'Potash', 'Rare earths', 'Strontium: carbonate',
       'Titanium: sponge', 'Tungsten: concentrate', 'Borax',
       'Coal: bituminous', 'Coal: lignite', 'Copper: metal',
       'Ilmenite-rutile: ore', 'Kyanite', 'Lead: ore', 'Lead: primary',
       'Lead: secondary', 'Lead-zinc: ore', 'Manganese: ore', 'Mica',
       'Copper: concentrate', 'Gold: in matte', 'Metal', 'Nickel: ore',
       'Nitrogen', 'Tin: ore', 'Gold: concentrate', 'Iodine: crude',
       'Lead: refined', 'Manganese: electrolytic dioxide',
       'Nickel: ferronickel', 'Nickel: oxide', 'Pyrophyllite',
       'Titanium: dioxide', 'Titanium: sponge metal', 'Zinc: refined',
       'Coal: anthracite', 'Copper: mine Cu output', 'Gemstone: sapphire',
       'Gold: mine Au output', 'Tin: mine Sn output',
       'Zinc: mine Zn output', 'Iron and steel: direct-reduced iron',
       'Iron and steel: direct-reduced steel',
       'Iron and steel: hot-briquetted iron', 'Nitrogen: ammonia',
       'Tin: concentrate', 'Tin: refined', 'Titanium dioxide',
       'Copper: concentrate, Cu content', 'Fluorspar',
       'Fluorspar: metallurgical grade concentrate',
       'Tungsten: concentrate, W3O content',
       'Zinc: concentrate, Zn content', 'Lead-zinc', 'Marble',
       'Nickel: nickel matte', 'Nickel: ore and  concentrate', 'Iron Ore',
       'Iron and steel: iron ore concentrate, gross weight',
       'Lead: concentrate', 'Magnesia: clinker',
       'Magnesite: concentrate, gross weight', 'Zinc: concentrate',
       'Petroleum: refinery products', 'Bismuth: metal',
       'Copper: metal, primary', 'Indium: metal', 'Lead: metal, primary',
       'Nickel: metal', 'Silver: concentrate', 'Silver: refined',
       'Zinc: metal, primary', 'Steel: crude', 'Clay: ball',
       'Titanium: ilmenite sands', 'Sulfur', 'Feldspar: concentrate',
       'Fluorspar: concentrate', 'Iron and steel: iron ore, gross weight',
       'Iron and steel: rolled steel',
       'Petroleum: crude included condensate',
       'Tantalum: metal powder and oxides', 'Chromite: gross weight',
       'Fertilizer: apatite, gross weight',
       'Fertilizer: nitrogen, ammonia', 'Fertilizer: superphosphate',
       'Tin: concentrate, Sn content', 'Titanium: ilmenite',
       'Aluminum: rolled and foil', 'Copper: blister',
       'Copper: mine output, Cu content', 'Diamond: cut stones',
       'Molybdenum: metal, ferromolybdenum, rhenium salts',
       'Molybdenum: mine output, Mo content', 'Perlite',
       'Zinc: mine output, Zn content', 'Alunite ore', 'Arsenic',
       'Clays: bentonite', 'Clays: refractory',
       'Construction materials: building sawn stone-block',
       'Construction materials: facing stone',
       'Gemstones: precious and semi-precious', 'Iodine and bromine',
       'Iron and steel: iron ore, marketable',
       'Iron and steel: steel pipes and tubes', 'Natural gas',
       'Natural gas: processing',
       'Petroleum and natural gas: crude petroleum and gas condensate',
       'Quartz sands', 'Rock salt', 'Iron and steel: pipe steel',
       'Nitrogen: nitrogen content of ammonia', 'Peat: fuel use',
       'Potash: K2O equivalent', 'Arsenic: metal and compounds',
       'Arsenic: ore, As content', 'Barite-zinc',
       'Copper: ore, Cu content', 'Ferroalloys: ferromanganese',
       'Ferroalloys: manganese sinter', 'Ferroalloys: silicomanganese',
       'Lead-zinc: ore, Pb content', 'Manganese: ore, marketable',
       'Petroleum: refinery', 'Arsenic trioxide', 'Beryllium: metal',
       'Chromite: mine output: Cr2O3 content (50%)',
       'Copper: metal, refined', 'Ferroalloys: ferrochrome, high-carbon',
       'Ferroalloys: ferrochrome: high-carbon 60%',
       'Ferroalloys: ferrochrome: medium-carbon 60%',
       'Ferroalloys: ferrosilicochrome', 'Ferroalloys: ferrosilicon',
       'Iron and steel: pig iron', 'Lead: ore, recoverable Pb content',
       'Magnesium: metal', 'Manganese: crude ore', 'Molybdenum: metal',
       'Molybdenum: recoverable Mo content of ore',
       'Petroleum: refined, crude oil throughput',
       'Rare metals: columbium, indium, selenium, tellurium', 'Rhenium',
       'Tantalum', 'Titanium: metal', 'Uranium: U content', 'Zinc: metal',
       'Zinc: mining, recoverable, Zn content',
       'Zinc: processing, recoverable, Zinc content',
       'Antimony: metal and compounds', 'Antimony: ore',
       'Gold: ore, Au content', 'Mercury: metal',
       'Mercury: ore, Hg content', 'Molybdenum: metallurgical',
       'Rare earths: compounds and metals, rare earth oxide equivalent',
       'Rare earths: concentrates, gross weight', 'Uranium: processed',
       'Natural Gas', 'Aluminum: primary smelter', 'Amber',
       'Antimony: concentrate', 'Apatite: concentrate',
       'Boron: boric acid', 'Copper: electrowinning plants',
       'Copper: refineries', 'Copper: smelters',
       'Diamond: gems and industrial', 'Ferroalloys',
       'Ferroalloys: ferronickel', 'Ferroalloys: ferrovanadium',
       'Lead: metal', 'Lead-zinc: lead, recoverable Pb content of ore',
       'Lead-zinc: zinc, recoverable Zn content of ore',
       'Platinum-group metals: metal', 'Nepheline syenite',
       'Nickel: metal, refining',
       'Nickel: metal: nickel products and nickel in ferronickel',
       'Niobium', 'Oil shale', 'Phosphate rock: apatite concentrate',
       'Platinum-group metals: ore, PGM content', 'Soda ash',
       'Tantalum: ore', 'Tin: metal', 'Tungsten: concentrate, W content',
       'Tungsten: metal, tungsten anhydride', 'Vanadium: metal',
       'Vanadium: ore', 'Vanadium: pentoxide', 'Zinc: ore, Zn content',
       'Zirconium: baddaleyite concentrate', 'Antimony: metal',
       'Bismuth, copper, fluorspar, gold, silver, zinc (ore processing)',
       'Boron', 'Copper-lead-zinc', 'Gold: ore', 'Gold: ore processing',
       'Loam', 'Mercury', 'Strontium', 'Tin-tungsten', 'Tungsten: ore',
       'Ammonia', 'Argillite', 'Barite-witherite',
       'Bench gravel and loam: bench gravel',
       'Bench gravel and loam: loam',
       "Bischofite, epsomite, Glauber's salt, sea salt", 'Bromine',
       'Clays: kaolin', 'Coal: oxidized', 'Iodine',
       'Limestone: facing materials', 'Limestone: filing stone',
       'Natural pigment', 'Ozokerite', 'Potash: sylvinite, carnallite',
       'Sand and gravel', 'Sodium sulfate', 'Strontium: celestite',
       'Coal: hard', 'Ferroalloys: ferrochrome',
       'Ferroalloys: ferromanganese, blast furnace', 'Manganese: sinter',
       'Nickel: nickel content in ferronickel',
       'Titanium: ilmenite, concentrate', 'Titanium: rutile',
       'Zinc: secondary', 'Zirconium: metal and compounds',
       'Zirconium: ore, zircon', 'Cesium, lithium, rubidium',
       'Lead: mine output, Pb content', 'Natural gas: condensate',
       'Natural gas: liquids', 'Phosphate', 'Polyethylene',
       'Tungsten: metal', 'Tungsten: mine output, W content',
       'Vermiculite', 'Copper: ore', 'Copper: smelter', 'Ferrochromium',
       'Iron and steel: steel', 'Nickel: smelter', 'Alumina: fused',
       'Copper: secondary', 'Ferroalloys: FeV, FeMo, FeNi',
       'Nitrogen: N content of ammonia', 'Sand: silica', 'Salt: rock',
       'Clay: bentonite', 'Clay: kaolin', 'Lead-zinc metal: Pb, refined',
       'Lead-zinc metal: Zn, smelter',
       'Lead-zinc: concentrate, Pb-Zn content', 'Zeolite',
       'Aluminum: secondary', 'Aluminum: semimanufactures',
       'Iron and steel: steel, semimanufactures', 'Clay',
       'Clay: refractory clay', 'Lead: metal, secondary, refined',
       'Chalk', 'Lime', 'Petroleum: oil shale', 'Apatite',
       'Cadmium: metal', 'Ferrochrome', 'Gold: metal',
       'Iron and steel: stainless steel', 'Phosphate: apatite',
       'Quartz and quartzite', 'Selenium', 'Wollastonite', 'Zinc: ore',
       'Andalusite', 'Arsenic: metal',
       'Clay: including ball and refractory clays',
       'Coal: anthracite and bituminous',
       'Coke: contained in domestic coal', 'Copper: cathodes',
       'Magnesium: metal, secondary', 'Potash: K2O content',
       'Silicon: metal', 'Clay: bentonite, crude',
       'Clay: bentonite, processed',
       'Ferroalloys: Ferronickel, Ni content', 'Hunite/hydromagnesite',
       'Magnesite: concentrate', 'Manganese: battery-grade MnO2',
       'Pozzolana', 'Pumice', 'Quartz', 'Zinc: mine, Zn concentrate',
       'Aluminum: primary', 'Coal: bituminous and lignite',
       'Lead-zinc: concentrate', 'Peat', 'Copper: refined, secondary',
       'Potash: ore', 'Pyrite', 'Substrate: biological growing media',
       'Chromite: concentrate', 'Ferroalloys: Ferrosilicon',
       'Aluminum: billets', 'Calcium carbonate', 'Magnesia',
       'Sodium: carbonate, synthetic', 'Sodium: sulfate, synthetic',
       'Iron and steel: iron, metal', 'Manganese: alloys', 'Olivine',
       'Quartzite', 'Titanium: concentrate', 'Coke',
       'Copper: concentrate, gross weight (25.2% -25.9% Cu)',
       'Ferroalloys: Ferromanganese (blast furnace)',
       'Ferroalloys: FeSiMn, FeMn, FeCr, FeSi, electric furnace',
       'Gypsum and anhydrite', 'Helium',
       'Iron and steel: steel, crude and semimanufactures',
       'Lead-zinc: metal: Pb, refined', 'Lead-zinc: Zn, refined',
       'Antimony: ores and concentrates',
       'Copper: mine production, Cu content of concentrate',
       'Iron and steel: steel, crude', 'Lead-zinc ore',
       'Magnesium: metal, primary', 'Antimony: smelter',
       'Iron and steel: iron, concentrate', 'Copper: ore, metal',
       'Dunite', 'Fluorspar: ore', 'Sepiolite', 'Sodium: sulfate',
       'Iron and steel', 'Silver: metal', 'Zinc: ore, zinc content',
       'Celestite', 'Platinum-group metals', 'Salt: road',
       'Slate: natural', 'Copper and gold', 'Gold and silver',
       'Lead and silver', 'Lead, silver, and zinc', 'Uranium (ore)',
       'Antimony trioxide', 'Antimony, refined',
       'Gold and silver bullion', 'Lead, silver, and zinc- metal',
       'Natural gas and petroleum: crude',
       'Refined tin, tin-lead alloys, lead, refined bismuth, and silver',
       'Tin and zinc', 'Tungsten content', 'Columbium', 'Salt rock',
       'Titanium', 'Zirconium', 'Columbium (niobium)',
       'Liquified petroleum gas', 'Potash (K2O equivalent)',
       'Salt and brine operations', 'Sodium chlorate produced with salt',
       'Sulfur dioxide and sulfuric acid',
       'Sulfur: Main sulfur extraction plants (sour gas and oil sands)',
       'Sulfur: petroleum refinery', 'Titanium slag',
       'Coal: subbituminous', 'Copper, gold, and silver',
       'Lime: hydraulic', 'Lithium carbonate', 'Nitrates (in fertilizer)',
       'Zinc, gold, and silver', 'Carbon black', 'Gemstones: emerald',
       'Clays', 'Pozzolan', 'Sand', 'Sand, gravel', 'Cement and lime',
       'Steel : crude', 'Bauxite and alumina', 'Gravel', 'Silica sand',
       'Stone', 'Lead and zinc', 'Strontium (celestite)',
       'Cement (clinker)', 'Petroelum: refinery products', 'Tellurium',
       'Liquefied natural gas', 'Methanol', 'Natural gas liquids', 'Urea',
       'Ammonia and urea', 'Ammonia, urea, NPK, and RPA', 'Ferronickel',
       'Iron ore pellets', 'Iron: direct-reduced',
       'Petroleum: crude, synthetic', 'ammonia', 'gold', 'barite',
       'bentonite', 'cadmium', 'cement', 'coke', 'diatomite', 'iron',
       'gypsum', 'mercury', 'phosphate', 'pozzolana', 'salt - refined',
       'salt - rock', 'silicon', 'salt - solar', 'steel - crude',
       'steel - processed', 'zinc', 'zinc, lead', 'diamond', 'granite',
       'petroleum', 'red granite', 'salt', 'stone', 'aluminum',
       'iron ore', 'fertilizer - ammonia', 'fertilizer - urea',
       'methanol', 'sulfur', 'petroleum - crude', 'clay', 'coal',
       'gemstone - semiprecious', 'nickel, copper, cobalt', 'soda ash',
       'columbium (niobium), tantalum', 'tin', 'tungsten', 'alumina',
       'limestone', 'marble', 'petroleum products', 'aggregate',
       'stone - crushed', 'cobalt', 'columbium (tantalum), tin', 'copper',
       'copper, cobalt', 'sulfuric acid', 'carbon',
       'fertilizer - ammonia, urea', 'fertilizer - ammonia nitrate',
       'fertilizer - ammonium nitrate', 'fertilizer - nitric acid',
       'natural gas', 'steel', 'petroleum - crude, condensate',
       'petroleum gas - liquified', 'kaolin', 'Sodium ash',
       'steel - galvanized', 'steel - semimanufactured', 'tantalum',
       'clinker', 'manganese - ore', 'bauxite', 'manganese', 'arsenic',
       'boron', 'chromite', 'clay - bentonite', 'clay - industrial, fire',
       'clay - kaolin', 'coal - coke', 'ferroalloys - chromium',
       'ferroalloys - manganese', 'ferroalloys - molybdenum',
       'ferroalloys - silicon', 'fertilizer - diamonium phosphate',
       'fluorspar', 'gemstone - turquoise', 'molybdenum', 'lead',
       'perlite', 'phosphate rock', 'steel - rolling', 'stone - granite',
       'stone - limestone', 'stone - marble', 'stone - Onyx',
       'stone - travertine', 'talc', 'zeolite', 'zinc - concentrate',
       'zinc  - metal', 'zinc - ore', 'iron - direct reduced',
       'fertilizer', 'bromine', 'magnesia', 'magnesium',
       'lead - refined secondary', 'phosphoric acid', 'potash',
       'potassium nitrate', 'carbon dioxide gas - natural', 'glass',
       'lead - refined', 'lime', 'petroleum - refined', 'gemstone - ruby',
       'sodium silicate', 'vermiculite', 'cement clinker',
       'iron - hot briquetted', 'natural gas - liquified', 'sponge iron',
       'steel - bar, rod', 'steel - cold rolling', 'steel - hot strip',
       'chrome', 'gemstone - emerald', 'gemstone - sapphire', 'graphite',
       'labradorite', 'mica', 'coal - bituminous', 'celestite',
       'cement - portland', 'coal - anthracite', 'fluorine',
       'petroleum refinery products',
       'phosphoric acid - purified, P2O5 content',
       'phosphoric acid, P2O5 content', 'salt - marine', 'steel - rebar',
       'marble - block', 'tantalite', 'copper, lead, zinc, silver',
       'copper, sulfur, silver', 'copper, zinc, palladium', 'dolomite',
       'sodalite', 'uranium', 'wollastonite',
       'zinc, lead, copper, silver, antimony', 'nitrogen, tantalum',
       'petroleum products - refined', 'tin - refined',
       'columbium (tantalum)', 'ferroalloys', 'titanium oxide',
       'titanium, Rutile', 'titanium, Ilmenite', 'andalusite', 'asbestos',
       'gold, antimony', 'nickel', 'lead, zinc', 'platinum group metals',
       'pyrophilite', 'antimony, gold', 'titanium, zirconium',
       'titanium, zirconium, iron', 'vanadium', 'zirconium',
       'zirconium, titanium', 'zirconmium - oxide', 'ferrovanadium',
       'copper - concentrates', 'aluminum fluoride', 'ammonium Nitrate',
       'cement - white', 'fertilizer - DAP', 'fertilizer - TSP',
       'lead, zinc ore', 'chromite - ferrochrome',
       'chromite ores - concentrates', 'iron - ore', 'magnesite',
       'steel - billet', 'soapstone', 'stone - basalt',
       'stone - basalt, tuff, limestone', 'gold, selenium, silver',
       'gemstone - amethyst', 'gemstone - aquamarine',
       'gemstone - citrine', 'gemstone - garnet', 'gemstone - tourmaline',
       'ammonium nitrate', 'ferrochrome', 'ferrosilicon', 'lithium'],
      dtype=object)

In [13]:
info_i= min_fac.loc[(min_fac['commodity'].str.contains('ithium')) | (min_fac['commodity'].str.contains('obalt'))|
                    (min_fac['commodity'].str.contains('ickel')) | (min_fac['commodity'].str.contains('opper'))|
                   (min_fac['commodity'].str.contains('luminum'))| (min_fac['commodity'].str.contains('anadium'))|
                   (min_fac['commodity'].str.contains('Coal'))]

In [52]:
lol=info_i.loc[info_i['commodity']=='Vanadium']
lol

,position,rec_id,year,country,commodity,location,fac_name,fac_type,dmslat,dmslong,...,precision,mm,op_comp,maininvest,othinvest,status,capacity,units,notes,cite
283,284,284,2007,Australia,Vanadium,"100 kilometers east-southeast of Mount Magnet,...",Windimurra open pit mine,Mine,29� 23' S,118� 50' E,...,F,S,NaN,"Precious Metals Australia Ltd., 90%","Noble Group Ltd., 10%",Active,8,thousand metric tons per year,NaN,847

In [15]:
#df[df['model'].str.contains('ac')]

In [16]:
#battery= min_fac.loc[(min_fac['commodity']== 'Lithium') |(min_fac['commodity']== 'Cobalt') | (min_fac['commodity']== 'Manganese') |(min_fac['commodity']== 'Nickel')|(min_fac['commodity']== 'Graphite' ), :]
#battery

In [17]:
active= info_i.loc[info_i['status']== 'Active', :]
active

,position,rec_id,year,country,commodity,location,fac_name,fac_type,dmslat,dmslong,...,precision,mm,op_comp,maininvest,othinvest,status,capacity,units,notes,cite
6,7,7,2007,Australia,Aluminum,"Gladstone, Queensland",Yarwun alumina refinery,Plant,24� 08' S,151� 17' E,...,F,NaN,Rio Tinto Alcan Inc.,"Rio Tinto Alcan Inc., 100%",NaN,Active,1400,thousand metric tons per year,NaN,847
7,8,8,2007,Australia,Aluminum,"Boyne Island, Queensland",Boyne Island aluminum smelter,Plant,24� 04' S,151� 20' E,...,F,NaN,"Boyne Smelters Ltd., operator","Rio Tinto Alcan Inc., 64%;","Sumitomo Light Metal Industries Ltd., 17%; Ryo...",Active,550,thousand metric tons per year,NaN,847
8,9,9,2007,Australia,Aluminum,"Tomago, New South Wales",Tomago aluminum smelter,Plant,33� 11' S,151� 43' E,...,F,NaN,"Tomago Aluminum Co. Pty. Ltd., operator","Rio Tinto Alcan Inc., 51.5%","Gove Aluminum Finance Ltd., 36.05%; Hydro Alum...",Active,525,thousand metric tons per year,NaN,847
9,10,10,2007,Australia,Aluminum,"Portland, Victoria",Portland aluminum smelter,Plant,39� 37' S,141� 38' E,...,F,NaN,"Alcoa of Australia, manager","Alcoa of Australia, 45%",China International Trust Investment Co. (a Ch...,Active,345,thousand metric tons per year,NaN,847
10,11,11,2007,Australia,Aluminum,"Point Henry, Victoria",Point Henry aluminum smelter,Plant,39� 52' S,144� 25' E,...,F,NaN,Alcoa of Australia,"Alcoa of Australia, 100%",NaN,Active,185,thousand metric tons per year,NaN,847
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4990,871,4991,2004,Venezuela,Aluminum,NaN,"Ciudad Guayana, Bolivar State",Plant,"8� 22' 00"" N","62� 40' 00""",...,NaN,NaN,C.V.G. Venezolana de Aluminio C.A. (Corporaci�...,NaN,NaN,Active,430,thousand t/yr,��,850
5001,882,5002,2004,Venezuela,Coal,NaN,"Mina Norte and Cachiri, Zulia State, Guasare C...",Mine,"10� 33' 50""","71� 40' 12""",...,NaN,S,"Carbones de la Guajira, S.A. (InterAmerican Co...",NaN,NaN,Active,1200,thousand t/yr,��,850
5002,883,5003,2004,Venezuela,Coal,NaN,"Paso Diablo, Zulia State, Guasare Coal Basin",Mine,"11� 06' 04""","72� 13' 16""",...,NaN,S,"Carbones del Guasare, S.A. (Carbozulia S.A.: 4...",NaN,NaN,Active,7000,thousand t/yr,��,850
5003,884,5004,2004,Venezuela,Ferronickel,NaN,"Loma de Niquel, Aragua and Miranda States",Plant,"9� 59' 00""�N","67� 26' 00""�",...,NaN,NaN,Loma de N�quel C.A. (Anglo American plc: 91.4%),NaN,NaN,Active,18,thousand t/yr,��,850
5016,897,5017,2004,Venezuela,Nickel,NaN,"Loma de Niquel, Aragua and Miranda States",Mine,"9� 59' 00""�N","67� 26' 00""�",...,NaN,S,Loma de N�quel C.A. (Anglo American plc: 91.4%),NaN,NaN,Active,22,thousand t/yr,��,850

In [54]:
#select interested column
data= active[['country', 'commodity', 'fac_name', 'latitude', 'longitude', 'maininvest', 'capacity']]
data

,country,commodity,fac_name,latitude,longitude,maininvest,capacity
6,Australia,Aluminum,Yarwun alumina refinery,-23.870,151.290,"Rio Tinto Alcan Inc., 100%",1400
7,Australia,Aluminum,Boyne Island aluminum smelter,-23.930,151.340,"Rio Tinto Alcan Inc., 64%;",550
8,Australia,Aluminum,Tomago aluminum smelter,-32.820,151.720,"Rio Tinto Alcan Inc., 51.5%",525
9,Australia,Aluminum,Portland aluminum smelter,-38.380,141.630,"Alcoa of Australia, 45%",345
10,Australia,Aluminum,Point Henry aluminum smelter,-38.140,144.420,"Alcoa of Australia, 100%",185
...,...,...,...,...,...,...,...
4990,Venezuela,Aluminum,"Ciudad Guayana, Bolivar State",8.367,-62.667,NaN,430
5001,Venezuela,Coal,"Mina Norte and Cachiri, Zulia State, Guasare C...",10.564,-71.670,NaN,1200
5002,Venezuela,Coal,"Paso Diablo, Zulia State, Guasare Coal Basin",11.101,-72.221,NaN,7000
5003,Venezuela,Ferronickel,"Loma de Niquel, Aragua and Miranda States",9.983,-67.433,NaN,18
5016,Venezuela,Nickel,"Loma de Niquel, Aragua and Miranda States",9.983,-67.433,NaN,22

In [55]:
data=data.dropna()
data

,country,commodity,fac_name,latitude,longitude,maininvest,capacity
6,Australia,Aluminum,Yarwun alumina refinery,-23.87,151.29,"Rio Tinto Alcan Inc., 100%",1400
7,Australia,Aluminum,Boyne Island aluminum smelter,-23.93,151.34,"Rio Tinto Alcan Inc., 64%;",550
8,Australia,Aluminum,Tomago aluminum smelter,-32.82,151.72,"Rio Tinto Alcan Inc., 51.5%",525
9,Australia,Aluminum,Portland aluminum smelter,-38.38,141.63,"Alcoa of Australia, 45%",345
10,Australia,Aluminum,Point Henry aluminum smelter,-38.14,144.42,"Alcoa of Australia, 100%",185
...,...,...,...,...,...,...,...
4004,Switzerland,Aluminum,Smelter at Steg,46.31,7.76,Rio Tinto Corp. 100%,168
4022,United Kingdom,Aluminum: primary,Smelter at Holyhead,53.30,-4.61,"Rio Tinto Corp., 51%",144
4026,United Kingdom,Aluminum: secondary,Plant at Clwyd,53.04,-2.93,Hydro Aluminum AS,55
4052,United Kingdom,Coal,Delhi Pit,55.08,-1.65,Banks Group,0
4091,United Kingdom,Nickel: refined,Plant at Clydach,51.69,-3.89,CRVD INCO Ltd,30

In [56]:
data= data.rename(columns={'maininvest': "Description"})
data

,country,commodity,fac_name,latitude,longitude,Description,capacity
6,Australia,Aluminum,Yarwun alumina refinery,-23.87,151.29,"Rio Tinto Alcan Inc., 100%",1400
7,Australia,Aluminum,Boyne Island aluminum smelter,-23.93,151.34,"Rio Tinto Alcan Inc., 64%;",550
8,Australia,Aluminum,Tomago aluminum smelter,-32.82,151.72,"Rio Tinto Alcan Inc., 51.5%",525
9,Australia,Aluminum,Portland aluminum smelter,-38.38,141.63,"Alcoa of Australia, 45%",345
10,Australia,Aluminum,Point Henry aluminum smelter,-38.14,144.42,"Alcoa of Australia, 100%",185
...,...,...,...,...,...,...,...
4004,Switzerland,Aluminum,Smelter at Steg,46.31,7.76,Rio Tinto Corp. 100%,168
4022,United Kingdom,Aluminum: primary,Smelter at Holyhead,53.30,-4.61,"Rio Tinto Corp., 51%",144
4026,United Kingdom,Aluminum: secondary,Plant at Clwyd,53.04,-2.93,Hydro Aluminum AS,55
4052,United Kingdom,Coal,Delhi Pit,55.08,-1.65,Banks Group,0
4091,United Kingdom,Nickel: refined,Plant at Clydach,51.69,-3.89,CRVD INCO Ltd,30

In [57]:
investors= data.to_csv('investor.csv', 
                  index = None)

In [58]:
investor = pd.read_csv("investor.csv")
investor

,Description,country,commodity,fac_name,latitude,longitude,capacity,SSL
0,Rio Tinto Alcan Inc.,Australia,Aluminum,Yarwun alumina refinery,-23.870,151.290,1400,RIO
1,"Boyne Smelters Ltd., operator",Australia,Aluminum,Boyne Island aluminum smelter,-23.930,151.340,550,NaN
2,"Tomago Aluminum Co. Pty. Ltd., operator",Australia,Aluminum,Tomago aluminum smelter,-32.820,151.720,525,NaN
3,"Alcoa of Australia, manager",Australia,Aluminum,Portland aluminum smelter,-38.380,141.630,345,AA
4,Alcoa of Australia,Australia,Aluminum,Point Henry aluminum smelter,-38.140,144.420,185,AA
...,...,...,...,...,...,...,...,...
830,C.V.G. Venezolana de Aluminio C.A. (Corporaci�...,Venezuela,Aluminum,"Ciudad Guayana, Bolivar State",8.367,-62.667,430,NaN
831,"Carbones de la Guajira, S.A. (InterAmerican Co...",Venezuela,Coal,"Mina Norte and Cachiri, Zulia State, Guasare C...",10.564,-71.670,1200,NaN
832,"Carbones del Guasare, S.A. (Carbozulia S.A.: 4...",Venezuela,Coal,"Paso Diablo, Zulia State, Guasare Coal Basin",11.101,-72.221,7000,NaN
833,Loma de N�quel C.A. (Anglo American plc: 91.4%),Venezuela,Ferronickel,"Loma de Niquel, Aragua and Miranda States",9.983,-67.433,18,NGLOY
834,Loma de N�quel C.A. (Anglo American plc: 91.4%),Venezuela,Nickel,"Loma de Niquel, Aragua and Miranda States",9.983,-67.433,22,NGLOY

In [70]:
investor['SSL'].fillna("No Value",inplace=True)
investor

,Description,country,commodity,fac_name,latitude,longitude,capacity,SSL,Company_Type
0,Rio Tinto Alcan Inc.,Australia,Aluminum,Yarwun alumina refinery,-23.870,151.290,1400,RIO,Public
1,"Boyne Smelters Ltd., operator",Australia,Aluminum,Boyne Island aluminum smelter,-23.930,151.340,550,No Value,Public
2,"Tomago Aluminum Co. Pty. Ltd., operator",Australia,Aluminum,Tomago aluminum smelter,-32.820,151.720,525,No Value,Public
3,"Alcoa of Australia, manager",Australia,Aluminum,Portland aluminum smelter,-38.380,141.630,345,AA,Public
4,Alcoa of Australia,Australia,Aluminum,Point Henry aluminum smelter,-38.140,144.420,185,AA,Public
...,...,...,...,...,...,...,...,...,...
830,C.V.G. Venezolana de Aluminio C.A. (Corporaci�...,Venezuela,Aluminum,"Ciudad Guayana, Bolivar State",8.367,-62.667,430,No Value,Public
831,"Carbones de la Guajira, S.A. (InterAmerican Co...",Venezuela,Coal,"Mina Norte and Cachiri, Zulia State, Guasare C...",10.564,-71.670,1200,No Value,Public
832,"Carbones del Guasare, S.A. (Carbozulia S.A.: 4...",Venezuela,Coal,"Paso Diablo, Zulia State, Guasare Coal Basin",11.101,-72.221,7000,No Value,Public
833,Loma de N�quel C.A. (Anglo American plc: 91.4%),Venezuela,Ferronickel,"Loma de Niquel, Aragua and Miranda States",9.983,-67.433,18,NGLOY,Public
834,Loma de N�quel C.A. (Anglo American plc: 91.4%),Venezuela,Nickel,"Loma de Niquel, Aragua and Miranda States",9.983,-67.433,22,NGLOY,Public

In [71]:
Company_type= []
for x in investor['SSL']:
        if x== 'No Value':
            name= 'Private'
            Company_type.append(name)
        else:
            name1= 'Public'
            Company_type.append(name1)
            
investor['Company_Type']=  Company_type

In [73]:
investor['commodity'].value_counts()

Aluminum                                               144
Copper                                                 117
Coal                                                    90
Coal: black                                             59
Nickel                                                  47
Coal: lignite                                           42
Coal: bituminous                                        41
Copper: refined                                         32
Coal: brown                                             22
Copper: metal                                           20
Copper: concentrate, Cu content                         19
Cobalt                                                  19
Coal: anthracite                                        18
Nickel: ore and  concentrate                            16
Copper: ore                                             15
Aluminum: primary smelter                               13
Copper: concentrate                                     13
Aluminum: secondary                                     10
Coal: anthracite and bituminous                          9
Nickel: ore                                              9
Copper: metal, refined                                   8
Aluminum: primary                                        8
Nickel: metal                                            7
Nickel: refined                                          7
Copper: mine production, Cu content of concentrate       6
Coal: bituminous and lignite                             6
Copper: ore, metal                                       4
Nickel: ferronickel                                      4
Lithium                                                  4
Copper: metal, primary                                   3
Copper, gold, and silver                                 3
Copper: concentrate, gross weight (25.2% -25.9% Cu)      3
Copper: cathodes                                         2
Copper: refined, secondary                               2
Copper: mine Cu output                                   2
Lithium carbonate                                        1
Ferronickel                                              1
Copper and gold                                          1
Aluminum: semimanufactures                               1
Nickel: oxide                                            1
Aluminum: billets                                        1
Nickel: nickel matte                                     1
Copper: mine output, Cu content                          1
Copper: secondary                                        1
Coal: subbituminous                                      1
Ferroalloys: Ferronickel, Ni content                     1
Name: commodity, dtype: int64

In [129]:
investor['commodity'] = investor['commodity'].replace(to_replace=['Coal: subbituminous','Coal and lignite','Coal and bituminous','Coal: black','Coal: lignite ','Coal: bituminous','Coal: brown','Coal: lignite' ,'Coal: anthracite'], 
                                              value= 'Coal', regex= True)

In [130]:
investor['commodity'] = investor['commodity'].replace(to_replace=['Copper and gold','Copper: mine Cu output','Copper: refined, secondary','Copper: refined','Copper: metal','Copper: concentrate, Cu content','Copper: ore','Copper: mine production, Cu content of concentrate','Copper: ore, metal','Copper: concentrate','Copper, refined','Copper, primary','Copper: metal, primary','Copper: mine output, Cu content','Copper: secondary','Copper: concentrate, gross weight (25.2% -25.9% Cu)','Copper, metal','Copper: cathodes','Copper, gold, and silver'], 
                                              value= 'Copper', regex= True)

In [131]:
investor['commodity'] = investor['commodity'].replace(to_replace=['Nickel: ore and  concentrate','Nickel: ore','Nickel: metal','Nickel: refined','Nickel: ferronickel','Nickel: oxide','Nickel: nickel matte','Ferroalloys: Ferronickel, Ni content' ,'Ferronickel'], 
                                              value= 'Nickel', regex= True)

In [157]:
investor['commodity'] = investor['commodity'].replace(to_replace=['ANickel',], 
                                              value= 'Aluminum', regex= True)
investor['commodity'] = investor['commodity'].replace(to_replace=['Lithium carbonate',], 
                                              value= 'Lithium', regex= True)
investor['commodity'] = investor['commodity'].replace({'Copper, gross weight (25.2% -25.9% Cu)':'Copper'})

In [158]:
investor['commodity'].value_counts()

Coal        288
Copper      252
Aluminum    157
Nickel      114
Cobalt       19
Lithium       5
Name: commodity, dtype: int64

In [239]:
investor=investor.rename(columns={'SSL': 'symbol'})

In [240]:
# #JSON file
# json= investor.to_json(path_or_buf='commodity.json',orient='records',lines=True)

In [269]:
#have the data in JSON file
file=investor.to_json("commodity.json", orient = "records", date_format = "epoch", double_precision = 10, force_ascii = True, date_unit = "ms", default_handler = None)

In [423]:
ticker=investor['symbol'].unique()
ticker_symbol= ['RIO', 'AA', 'BBL', 'BTU', 'NGLOY', 'CEY', 'NHPEF',
       'RHHBY', 'DCI', 'IBM', 'GOLD', 'EDU', 'NATIONALUM',
       'SMFG', 'MUFG', 'PHI', 'CAML', 'PUPOF', 'ELEZF', 'IBA', 'CBD',
       'RDS.A', 'TECK', 'PD', 'SCCO']

#  content = json.loads(r.text)
#     dfs.append(pd.DataFrame([content]))

# df = pd.concat(dfs, ignore_index=True, sort=False)
# df.to_csv('stop_loc.csv')

# print(df)
investor

,Description,country,commodity,fac_name,latitude,longitude,capacity,symbol,Company_Type
0,Rio Tinto Alcan Inc.,Australia,Aluminum,Yarwun alumina refinery,-23.870,151.290,1400,RIO,Public
1,"Boyne Smelters Ltd., operator",Australia,Aluminum,Boyne Island aluminum smelter,-23.930,151.340,550,No Value,Private
2,"Tomago Aluminum Co. Pty. Ltd., operator",Australia,Aluminum,Tomago aluminum smelter,-32.820,151.720,525,No Value,Private
3,"Alcoa of Australia, manager",Australia,Aluminum,Portland aluminum smelter,-38.380,141.630,345,AA,Public
4,Alcoa of Australia,Australia,Aluminum,Point Henry aluminum smelter,-38.140,144.420,185,AA,Public
...,...,...,...,...,...,...,...,...,...
830,C.V.G. Venezolana de Aluminio C.A. (Corporaci�...,Venezuela,Aluminum,"Ciudad Guayana, Bolivar State",8.367,-62.667,430,No Value,Private
831,"Carbones de la Guajira, S.A. (InterAmerican Co...",Venezuela,Coal,"Mina Norte and Cachiri, Zulia State, Guasare C...",10.564,-71.670,1200,No Value,Private
832,"Carbones del Guasare, S.A. (Carbozulia S.A.: 4...",Venezuela,Coal,"Paso Diablo, Zulia State, Guasare Coal Basin",11.101,-72.221,7000,No Value,Private
833,Loma de N�quel C.A. (Anglo American plc: 91.4%),Venezuela,Nickel,"Loma de Niquel, Aragua and Miranda States",9.983,-67.433,18,NGLOY,Public
834,Loma de N�quel C.A. (Anglo American plc: 91.4%),Venezuela,Nickel,"Loma de Niquel, Aragua and Miranda States",9.983,-67.433,22,NGLOY,Public

In [428]:
#retrieve investors stock data
import requests
import json
from pprint import pprint
url= 'https://api.marketstack.com/v1/eod?access_key=0cfb23124b324f295b2de7da4a343859&date_from=2016-01-01&date_to=2021-04-01&symbols='
close=[]
volume=[]
symbol=[]
count=0
responses=[]
for x in ticker_symbol:
    query= url + x
    response= requests.get(query).json()
    responses.append(response)
    
    
    
#     volume.append(response['data'][x]['volume'])
#     close.append(response['data'][x]['close'])
    
#     response= requests.get(query)

#     content = json.loads(response.text)
#     dfs.append(content)


    

    

# print(volume)

In [441]:
# print(responses)
for x in responses:
    

    for y in x['data']:
        print(y['symbol'])
        symbol.append(y['symbol'])
        close.append(y['close'])
        volume.append(y['volume'])

RIO
RIO
RIO
RIO
RIO
RIO
RIO
RIO
RIO
RIO
RIO
RIO
RIO
RIO
RIO
RIO
RIO
RIO
RIO
RIO
RIO
RIO
RIO
RIO
RIO
RIO
RIO
RIO
RIO
RIO
RIO
RIO
RIO
RIO
RIO
RIO
RIO
RIO
RIO
RIO
RIO
RIO
RIO
RIO
RIO
RIO
RIO
RIO
RIO
RIO
RIO
RIO
RIO
RIO
RIO
RIO
RIO
RIO
RIO
RIO
RIO
RIO
RIO
RIO
RIO
RIO
RIO
RIO
RIO
RIO
RIO
RIO
RIO
RIO
RIO
RIO
RIO
RIO
RIO
RIO
RIO
RIO
RIO
RIO
RIO
RIO
RIO
RIO
RIO
RIO
RIO
RIO
RIO
RIO
RIO
RIO
RIO
RIO
RIO
RIO
AA
AA
AA
AA
AA
AA
AA
AA
AA
AA
AA
AA
AA
AA
AA
AA
AA
AA
AA
AA
AA
AA
AA
AA
AA
AA
AA
AA
AA
AA
AA
AA
AA
AA
AA
AA
AA
AA
AA
AA
AA
AA
AA
AA
AA
AA
AA
AA
AA
AA
AA
AA
AA
AA
AA
AA
AA
AA
AA
AA
AA
AA
AA
AA
AA
AA
AA
AA
AA
AA
AA
AA
AA
AA
AA
AA
AA
AA
AA
AA
AA
AA
AA
AA
AA
AA
AA
AA
AA
AA
AA
AA
AA
AA
AA
AA
AA
AA
AA
AA
BBL
BBL
BBL
BBL
BBL
BBL
BBL
BBL
BBL
BBL
BBL
BBL
BBL
BBL
BBL
BBL
BBL
BBL
BBL
BBL
BBL
BBL
BBL
BBL
BBL
BBL
BBL
BBL
BBL
BBL
BBL
BBL
BBL
BBL
BBL
BBL
BBL
BBL
BBL
BBL
BBL
BBL
BBL
BBL
BBL
BBL
BBL
BBL
BBL
BBL
BBL
BBL
BBL
BBL
BBL
BBL
BBL
BBL
BBL
BBL
BBL
BBL
BBL
BBL
BBL
BBL
BBL
BBL
BBL
BBL
BBL
BBL
BBL
BBL
BBL
BBL
BBL
BBL
BBL
BBL
BBL
BBL
BBL
BBL
BBL
BBL
BBL
BBL
BBL
BBL
BBL
BBL
BBL
BBL
BBL
BBL
BBL
BBL
BBL
BBL
BTU
BTU
BTU
BTU
BTU
BTU
BTU
BTU
BTU
BTU
BTU
BTU
BTU
BTU
BTU
BTU
BTU
BTU
BTU
BTU
BTU
BTU
BTU
BTU
BTU
BTU
BTU
BTU
BTU
BTU
BTU
BTU
BTU
BTU
BTU
BTU
BTU
BTU
BTU
BTU
BTU
BTU
BTU
BTU
BTU
BTU
BTU
BTU
BTU
BTU
BTU
BTU
BTU
BTU
BTU
BTU
BTU
BTU
BTU
BTU
BTU
BTU
BTU
BTU
BTU
BTU
BTU
BTU
BTU
BTU
BTU
BTU
BTU
BTU
BTU
BTU
BTU
BTU
BTU
BTU
BTU
BTU
BTU
BTU
BTU
BTU
BTU
BTU
BTU
BTU
BTU
BTU
BTU
BTU
BTU
BTU
BTU
BTU
BTU
BTU
NGLOY
NGLOY
NGLOY
NGLOY
NGLOY
NGLOY
NGLOY
NGLOY
NGLOY
NGLOY
NGLOY
NGLOY
NGLOY
NGLOY
NGLOY
NGLOY
NGLOY
NGLOY
NGLOY
NGLOY
NGLOY
NGLOY
NGLOY
NGLOY
NGLOY
NGLOY
NGLOY
NGLOY
NGLOY
NGLOY
NGLOY
NGLOY
NGLOY
NGLOY
NGLOY
NGLOY
NGLOY
NGLOY
NGLOY
NGLOY
NGLOY
NGLOY
NGLOY
NGLOY
NGLOY
NGLOY
NGLOY
NGLOY
NGLOY
NGLOY
NGLOY
NGLOY
NGLOY
NGLOY
NGLOY
NGLOY
NGLOY
NGLOY
NGLOY
NGLOY
NGLOY
NGLOY
NGLOY
NGLOY
NGLOY
NGLOY
NGLOY
NGLOY
NGLOY
NGLOY
NGLOY
NGLOY
NGLOY
NGLOY
NGLOY
NGLOY
NGLOY
NGLOY
NGLOY
NGLOY
NGLOY
NGLOY
NGLOY
NGLOY
NGLOY
NGLOY
NGLOY
NGLOY
NGLOY
NGLOY
NGLOY
NGLOY
NGLOY
NGLOY
NGLOY
NGLOY
NGLOY
NGLOY
NGLOY
NGLOY
CEY
CEY
CEY
CEY
CEY
CEY
CEY
CEY
CEY
CEY
CEY
CEY
CEY
CEY
CEY
CEY
CEY
CEY
CEY
CEY
CEY
CEY
CEY
CEY
CEY
CEY
CEY
CEY
CEY
CEY
CEY
CEY
CEY
CEY
CEY
CEY
CEY
CEY
CEY
CEY
CEY
CEY
CEY
CEY
CEY
CEY
CEY
CEY
CEY
CEY
CEY
CEY
CEY
CEY
CEY
CEY
CEY
CEY
CEY
CEY
CEY
CEY
CEY
CEY
CEY
CEY
CEY
CEY
CEY
CEY
CEY
CEY
CEY
CEY
CEY
CEY
CEY
CEY
CEY
CEY
CEY
CEY
CEY
CEY
CEY
CEY
CEY
CEY
CEY
CEY
CEY
CEY
CEY
CEY
CEY
CEY
CEY
CEY
CEY
CEY
NHPEF
NHPEF
NHPEF
NHPEF
NHPEF
NHPEF
NHPEF
NHPEF
NHPEF
NHPEF
NHPEF
NHPEF
NHPEF
NHPEF
NHPEF
NHPEF
NHPEF
NHPEF
NHPEF
NHPEF
NHPEF
NHPEF
NHPEF
NHPEF
NHPEF
NHPEF
NHPEF
NHPEF
NHPEF
NHPEF
NHPEF
NHPEF
NHPEF
NHPEF
NHPEF
NHPEF
NHPEF
NHPEF
NHPEF
NHPEF
NHPEF
NHPEF
NHPEF
NHPEF
NHPEF
NHPEF
NHPEF
NHPEF
NHPEF
NHPEF
NHPEF
NHPEF
NHPEF
NHPEF
NHPEF
NHPEF
NHPEF
NHPEF
NHPEF
NHPEF
NHPEF
NHPEF
NHPEF
NHPEF
NHPEF
NHPEF
NHPEF
NHPEF
NHPEF
NHPEF
NHPEF
NHPEF
NHPEF
NHPEF
NHPEF
NHPEF
NHPEF
NHPEF
NHPEF
NHPEF
NHPEF
NHPEF
NHPEF
NHPEF
NHPEF
NHPEF
NHPEF
NHPEF
NHPEF
NHPEF
NHPEF
NHPEF
NHPEF
NHPEF
NHPEF
NHPEF
NHPEF
NHPEF
NHPEF
NHPEF
RHHBY
RHHBY
RHHBY
RHHBY
RHHBY
RHHBY
RHHBY
RHHBY
RHHBY
RHHBY
RHHBY
RHHBY
RHHBY
RHHBY
RHHBY
RHHBY
RHHBY
RHHBY
RHHBY
RHHBY
RHHBY
RHHBY
RHHBY
RHHBY
RHHBY
RHHBY
RHHBY
RHHBY
RHHBY
RHHBY
RHHBY
RHHBY
RHHBY
RHHBY
RHHBY
RHHBY
RHHBY
RHHBY
RHHBY
RHHBY
RHHBY
RHHBY
RHHBY
RHHBY
RHHBY
RHHBY
RHHBY
RHHBY
RHHBY
RHHBY
RHHBY
RHHBY
RHHBY
RHHBY
RHHBY
RHHBY
RHHBY
RHHBY
RHHBY
RHHBY
RHHBY
RHHBY
RHHBY
RHHBY
RHHBY
RHHBY
RHHBY
RHHBY
RHHBY
RHHBY
RHHBY
RHHBY
RHHBY
RHHBY
RHHBY
RHHBY
RHHBY
RHHBY
RHHBY
RHHBY
RHHBY
RHHBY
RHHBY
RHHBY
RHHBY
RHHBY
RHHBY
RHHBY
RHHBY
RHHBY
RHHBY
RHHBY
RHHBY
RHHBY
RHHBY
RHHBY
RHHBY
RHHBY
RHHBY
RHHBY
DCI
DCI
DCI
DCI
DCI
DCI
DCI
DCI
DCI
DCI
DCI
DCI
DCI
DCI
DCI
DCI
DCI
DCI
DCI
DCI
DCI
DCI
DCI
DCI
DCI
DCI
DCI
DCI
DCI
DCI
DCI
DCI
DCI
DCI
DCI
DCI
DCI
DCI
DCI
DCI
DCI
DCI
DCI
DCI
DCI
DCI
DCI
DCI
DCI
DCI
DCI
DCI
DCI
DCI
DCI
DCI
DCI
DCI
DCI
DCI
DCI
DCI
DCI
DCI
DCI
DCI
DCI
DCI
DCI
DCI
DCI
DCI
DCI
DCI
DCI
DCI
DCI
DCI
DCI
DCI
DCI
DCI
DCI
DCI
DCI
DCI
DCI
DCI
DCI
DCI
DCI
DCI
DCI
DCI
DCI
DCI
DCI
DCI
DCI
DCI
IBM
IBM
IBM
IBM
IBM
IBM
IBM
IBM
IBM
IBM
IBM
IBM
IBM
IBM
IBM
IBM
IBM
IBM
IBM
IBM
IBM
IBM
IBM
IBM
IBM
IBM
IBM
IBM
IBM
IBM
IBM
IBM
IBM
IBM
IBM
IBM
IBM
IBM
IBM
IBM
IBM
IBM
IBM
IBM
IBM
IBM
IBM
IBM
IBM
IBM
IBM
IBM
IBM
IBM
IBM
IBM
IBM
IBM
IBM
IBM
IBM
IBM
IBM
IBM
IBM
IBM
IBM
IBM
IBM
IBM
IBM
IBM
IBM
IBM
IBM
IBM
IBM
IBM
IBM
IBM
IBM
IBM
IBM
IBM
IBM
IBM
IBM
IBM
IBM
IBM
IBM
IBM
IBM
IBM
IBM
IBM
IBM
IBM
IBM
IBM
GOLD
GOLD
GOLD
GOLD
GOLD
GOLD
GOLD
GOLD
GOLD
GOLD
GOLD
GOLD
GOLD
GOLD
GOLD
GOLD
GOLD
GOLD
GOLD
GOLD
GOLD
GOLD
GOLD
GOLD
GOLD
GOLD
GOLD
GOLD
GOLD
GOLD
GOLD
GOLD
GOLD
GOLD
GOLD
GOLD
GOLD
GOLD
GOLD
GOLD
GOLD
GOLD
GOLD
GOLD
GOLD
GOLD
GOLD
GOLD
GOLD
GOLD
GOLD
GOLD
GOLD
GOLD
GOLD
GOLD
GOLD
GOLD
GOLD
GOLD
GOLD
GOLD
GOLD
GOLD
GOLD
GOLD
GOLD
GOLD
GOLD
GOLD
GOLD
GOLD
GOLD
GOLD
GOLD
GOLD
GOLD
GOLD
GOLD
GOLD
GOLD
GOLD
GOLD
GOLD
GOLD
GOLD
GOLD
GOLD
GOLD
GOLD
GOLD
GOLD
GOLD
GOLD
GOLD
GOLD
GOLD
GOLD
GOLD
GOLD
EDU
EDU
EDU
EDU
EDU
EDU
EDU
EDU
EDU
EDU
EDU
EDU
EDU
EDU
EDU
EDU
EDU
EDU
EDU
EDU
EDU
EDU
EDU
EDU
EDU
EDU
EDU
EDU
EDU
EDU
EDU
EDU
EDU
EDU
EDU
EDU
EDU
EDU
EDU
EDU
EDU
EDU
EDU
EDU
EDU
EDU
EDU
EDU
EDU
EDU
EDU
EDU
EDU
EDU
EDU
EDU
EDU
EDU
EDU
EDU
EDU
EDU
EDU
EDU
EDU
EDU
EDU
EDU
EDU
EDU
EDU
EDU
EDU
EDU
EDU
EDU
EDU
EDU
EDU
EDU
EDU
EDU
EDU
EDU
EDU
EDU
EDU
EDU
EDU
EDU
EDU
EDU
EDU
EDU
EDU
EDU
EDU
EDU
EDU
EDU

KeyError: 'data'

In [448]:
zei=pd.DataFrame({'symbol':symbol,
#                   'Volume':close
                 })

In [449]:
zei

     symbol
0       RIO
1       RIO
2       RIO
3       RIO
4       RIO
...     ...
3595    EDU
3596    EDU
3597    EDU
3598    EDU
3599    EDU

[3600 rows x 1 columns]

In [391]:
data_info= pd.DataFrame(dfs)

data_inf= data_info[['data']]
# data_information=data_inf.dropna()
# print(dfs[1])
data_info

,pagination,data,error
0,"{'limit': 100, 'offset': 0, 'count': 100, 'tot...","[{'open': 77.41, 'high': 78.0, 'low': 76.52, '...",NaN
1,"{'limit': 100, 'offset': 0, 'count': 100, 'tot...","[{'open': 32.2, 'high': 32.5799, 'low': 31.49,...",NaN
2,"{'limit': 100, 'offset': 0, 'count': 100, 'tot...","[{'open': 58.04, 'high': 58.14, 'low': 57.14, ...",NaN
3,"{'limit': 100, 'offset': 0, 'count': 100, 'tot...","[{'open': 3.05, 'high': 3.2, 'low': 2.95, 'clo...",NaN
4,"{'limit': 100, 'offset': 0, 'count': 100, 'tot...","[{'open': 20.274, 'high': 20.5, 'low': 20.11, ...",NaN
5,"{'limit': 100, 'offset': 0, 'count': 100, 'tot...","[{'open': 23.82, 'high': 23.82, 'low': 23.69, ...",NaN
6,"{'limit': 100, 'offset': 0, 'count': 100, 'tot...","[{'open': 1.04, 'high': 1.04, 'low': 1.04, 'cl...",NaN
7,"{'limit': 100, 'offset': 0, 'count': 100, 'tot...","[{'open': 40.5, 'high': 40.8, 'low': 40.4, 'cl...",NaN
8,"{'limit': 100, 'offset': 0, 'count': 100, 'tot...","[{'open': 58.55, 'high': 58.94, 'low': 58.125,...",NaN
9,"{'limit': 100, 'offset': 0, 'count': 100, 'tot...","[{'open': 133.76, 'high': 133.93, 'low': 132.2...",NaN
10,"{'limit': 100, 'offset': 0, 'count': 100, 'tot...","[{'open': 20.1, 'high': 20.41, 'low': 19.94, '...",NaN
11,NaN,NaN,"{'code': 'no_valid_symbols_provided', 'message..."
12,"{'limit': 100, 'offset': 0, 'count': 100, 'tot...","[{'open': 14.42, 'high': 14.99, 'low': 14.32, ...",NaN
13,NaN,NaN,"{'code': 'no_valid_symbols_provided', 'message..."
14,"{'limit': 100, 'offset': 0, 'count': 100, 'tot...","[{'open': 7.2, 'high': 7.21, 'low': 7.13, 'clo...",NaN
15,"{'limit': 100, 'offset': 0, 'count': 100, 'tot...","[{'open': 5.4, 'high': 5.52, 'low': 5.37, 'clo...",NaN
16,"{'limit': 100, 'offset': 0, 'count': 100, 'tot...","[{'open': 26.31, 'high': 26.32, 'low': 26.02, ...",NaN
17,NaN,NaN,"{'code': 'no_valid_symbols_provided', 'message..."
18,"{'limit': 100, 'offset': 0, 'count': 100, 'tot...","[{'open': 11.19, 'high': 11.19, 'low': 11.19, ...",NaN
19,"{'limit': 100, 'offset': 0, 'count': 100, 'tot...","[{'open': 26.2511, 'high': 26.45, 'low': 26.25...",NaN
20,"{'limit': 100, 'offset': 0, 'count': 100, 'tot...","[{'open': 39.73, 'high': 39.73, 'low': 39.23, ...",NaN
21,"{'limit': 100, 'offset': 0, 'count': 100, 'tot...","[{'open': 5.84, 'high': 5.86, 'low': 5.54, 'cl...",NaN
22,"{'limit': 100, 'offset': 0, 'count': 0, 'total...",[],NaN
23,"{'limit': 100, 'offset': 0, 'count': 100, 'tot...","[{'open': 19.35, 'high': 19.59, 'low': 19.06, ...",NaN
24,"{'limit': 100, 'offset': 0, 'count': 100, 'tot...","[{'open': 41.9, 'high': 42.5, 'low': 40.7, 'cl...",NaN
25,"{'limit': 100, 'offset': 0, 'count': 100, 'tot...","[{'open': 68.5, 'high': 69.55, 'low': 68.1, 'c...",NaN

In [374]:
data_informat

                                                 data
0   [{'open': 77.41, 'high': 78.0, 'low': 76.52, '...
1   [{'open': 32.2, 'high': 32.5799, 'low': 31.49,...
2   [{'open': 58.04, 'high': 58.14, 'low': 57.14, ...
3   [{'open': 3.05, 'high': 3.2, 'low': 2.95, 'clo...
4   [{'open': 20.274, 'high': 20.5, 'low': 20.11, ...
5   [{'open': 23.82, 'high': 23.82, 'low': 23.69, ...
6   [{'open': 1.04, 'high': 1.04, 'low': 1.04, 'cl...
7   [{'open': 40.5, 'high': 40.8, 'low': 40.4, 'cl...
8   [{'open': 58.55, 'high': 58.94, 'low': 58.125,...
9   [{'open': 133.76, 'high': 133.93, 'low': 132.2...
10  [{'open': 20.1, 'high': 20.41, 'low': 19.94, '...
12  [{'open': 14.42, 'high': 14.99, 'low': 14.32, ...
14  [{'open': 7.2, 'high': 7.21, 'low': 7.13, 'clo...
15  [{'open': 5.4, 'high': 5.52, 'low': 5.37, 'clo...
16  [{'open': 26.31, 'high': 26.32, 'low': 26.02, ...
18  [{'open': 11.19, 'high': 11.19, 'low': 11.19, ...
19  [{'open': 26.2511, 'high': 26.45, 'low': 26.25...
20  [{'open': 39.73, 'high': 39.73, 'low': 39.23, ...
21  [{'open': 5.84, 'high': 5.86, 'low': 5.54, 'cl...
22                                                 []
23  [{'open': 19.35, 'high': 19.59, 'low': 19.06, ...
24  [{'open': 41.9, 'high': 42.5, 'low': 40.7, 'cl...
25  [{'open': 68.5, 'high': 69.55, 'low': 68.1, 'c...

In [363]:
# pprint(dfs)
dfzz= pd.DataFrame(dfs)
dfzz

,pagination,data,error
0,"{'limit': 100, 'offset': 0, 'count': 100, 'tot...","[{'open': 77.41, 'high': 78.0, 'low': 76.52, '...",NaN
1,"{'limit': 100, 'offset': 0, 'count': 100, 'tot...","[{'open': 32.2, 'high': 32.5799, 'low': 31.49,...",NaN
2,"{'limit': 100, 'offset': 0, 'count': 100, 'tot...","[{'open': 58.04, 'high': 58.14, 'low': 57.14, ...",NaN
3,"{'limit': 100, 'offset': 0, 'count': 100, 'tot...","[{'open': 3.05, 'high': 3.2, 'low': 2.95, 'clo...",NaN
4,"{'limit': 100, 'offset': 0, 'count': 100, 'tot...","[{'open': 20.274, 'high': 20.5, 'low': 20.11, ...",NaN
5,"{'limit': 100, 'offset': 0, 'count': 100, 'tot...","[{'open': 23.82, 'high': 23.82, 'low': 23.69, ...",NaN
6,"{'limit': 100, 'offset': 0, 'count': 100, 'tot...","[{'open': 1.04, 'high': 1.04, 'low': 1.04, 'cl...",NaN
7,"{'limit': 100, 'offset': 0, 'count': 100, 'tot...","[{'open': 40.5, 'high': 40.8, 'low': 40.4, 'cl...",NaN
8,"{'limit': 100, 'offset': 0, 'count': 100, 'tot...","[{'open': 58.55, 'high': 58.94, 'low': 58.125,...",NaN
9,"{'limit': 100, 'offset': 0, 'count': 100, 'tot...","[{'open': 133.76, 'high': 133.93, 'low': 132.2...",NaN
10,"{'limit': 100, 'offset': 0, 'count': 100, 'tot...","[{'open': 20.1, 'high': 20.41, 'low': 19.94, '...",NaN
11,NaN,NaN,"{'code': 'no_valid_symbols_provided', 'message..."
12,"{'limit': 100, 'offset': 0, 'count': 100, 'tot...","[{'open': 14.42, 'high': 14.99, 'low': 14.32, ...",NaN
13,NaN,NaN,"{'code': 'no_valid_symbols_provided', 'message..."
14,"{'limit': 100, 'offset': 0, 'count': 100, 'tot...","[{'open': 7.2, 'high': 7.21, 'low': 7.13, 'clo...",NaN
15,"{'limit': 100, 'offset': 0, 'count': 100, 'tot...","[{'open': 5.4, 'high': 5.52, 'low': 5.37, 'clo...",NaN
16,"{'limit': 100, 'offset': 0, 'count': 100, 'tot...","[{'open': 26.31, 'high': 26.32, 'low': 26.02, ...",NaN
17,NaN,NaN,"{'code': 'no_valid_symbols_provided', 'message..."
18,"{'limit': 100, 'offset': 0, 'count': 100, 'tot...","[{'open': 11.19, 'high': 11.19, 'low': 11.19, ...",NaN
19,"{'limit': 100, 'offset': 0, 'count': 100, 'tot...","[{'open': 26.2511, 'high': 26.45, 'low': 26.25...",NaN
20,"{'limit': 100, 'offset': 0, 'count': 100, 'tot...","[{'open': 39.73, 'high': 39.73, 'low': 39.23, ...",NaN
21,"{'limit': 100, 'offset': 0, 'count': 100, 'tot...","[{'open': 5.84, 'high': 5.86, 'low': 5.54, 'cl...",NaN
22,"{'limit': 100, 'offset': 0, 'count': 0, 'total...",[],NaN
23,"{'limit': 100, 'offset': 0, 'count': 100, 'tot...","[{'open': 19.35, 'high': 19.59, 'low': 19.06, ...",NaN
24,"{'limit': 100, 'offset': 0, 'count': 100, 'tot...","[{'open': 41.9, 'high': 42.5, 'low': 40.7, 'cl...",NaN
25,"{'limit': 100, 'offset': 0, 'count': 100, 'tot...","[{'open': 68.5, 'high': 69.55, 'low': 68.1, 'c...",NaN

In [364]:
dfzz['data']

0     [{'open': 77.41, 'high': 78.0, 'low': 76.52, '...
1     [{'open': 32.2, 'high': 32.5799, 'low': 31.49,...
2     [{'open': 58.04, 'high': 58.14, 'low': 57.14, ...
3     [{'open': 3.05, 'high': 3.2, 'low': 2.95, 'clo...
4     [{'open': 20.274, 'high': 20.5, 'low': 20.11, ...
5     [{'open': 23.82, 'high': 23.82, 'low': 23.69, ...
6     [{'open': 1.04, 'high': 1.04, 'low': 1.04, 'cl...
7     [{'open': 40.5, 'high': 40.8, 'low': 40.4, 'cl...
8     [{'open': 58.55, 'high': 58.94, 'low': 58.125,...
9     [{'open': 133.76, 'high': 133.93, 'low': 132.2...
10    [{'open': 20.1, 'high': 20.41, 'low': 19.94, '...
11                                                  NaN
12    [{'open': 14.42, 'high': 14.99, 'low': 14.32, ...
13                                                  NaN
14    [{'open': 7.2, 'high': 7.21, 'low': 7.13, 'clo...
15    [{'open': 5.4, 'high': 5.52, 'low': 5.37, 'clo...
16    [{'open': 26.31, 'high': 26.32, 'low': 26.02, ...
17                                                  NaN
18    [{'open': 11.19, 'high': 11.19, 'low': 11.19, ...
19    [{'open': 26.2511, 'high': 26.45, 'low': 26.25...
20    [{'open': 39.73, 'high': 39.73, 'low': 39.23, ...
21    [{'open': 5.84, 'high': 5.86, 'low': 5.54, 'cl...
22                                                   []
23    [{'open': 19.35, 'high': 19.59, 'low': 19.06, ...
24    [{'open': 41.9, 'high': 42.5, 'low': 40.7, 'cl...
25    [{'open': 68.5, 'high': 69.55, 'low': 68.1, 'c...
Name: data, dtype: object

In [238]:
df= pd.DataFrame(content['data'])
df

,open,high,low,close,volume,adj_high,adj_low,adj_close,adj_open,adj_volume,split_factor,symbol,exchange,date
0,68.50,69.550,68.10,69.41,1121497.0,69.55,68.10,69.41,68.50,1121497.0,1.0,SCCO,XNYS,2021-04-01T00:00:00+0000
1,69.05,69.170,67.82,67.87,909869.0,69.17,67.82,67.87,69.05,929368.0,1.0,SCCO,XNYS,2021-03-31T00:00:00+0000
2,67.82,68.670,67.42,68.09,1102840.0,NaN,NaN,68.09,NaN,NaN,1.0,SCCO,XNYS,2021-03-30T00:00:00+0000
3,68.99,69.075,67.47,68.08,1233545.0,NaN,NaN,68.08,NaN,NaN,1.0,SCCO,XNYS,2021-03-29T00:00:00+0000
4,67.64,69.610,66.95,69.42,1469013.0,69.61,66.95,69.42,67.64,1469013.0,1.0,SCCO,XNYS,2021-03-26T00:00:00+0000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,54.41,55.320,53.29,53.58,1006163.0,55.32,53.29,53.58,54.41,1006163.0,1.0,SCCO,XNYS,2020-11-12T00:00:00+0000
96,54.20,54.420,53.73,54.14,695730.0,54.42,53.73,54.14,54.20,695730.0,1.0,SCCO,XNYS,2020-11-11T00:00:00+0000
97,54.43,54.860,53.51,54.16,894905.0,54.86,53.51,54.16,54.43,894905.0,1.0,SCCO,XNYS,2020-11-10T00:00:00+0000
98,56.13,56.980,54.64,54.66,1331250.0,56.98,54.64,54.66,56.13,1331250.0,1.0,SCCO,XNYS,2020-11-09T00:00:00+0000
99,54.89,55.340,54.51,55.13,584644.0,55.34,54.51,55.13,54.89,584644.0,1.0,SCCO,XNYS,2020-11-06T00:00:00+0000

In [252]:
merge_df=pd.merge(investor, df, on='symbol')
merge_df

,Description,country,commodity,fac_name,latitude,longitude,capacity,symbol,Company_Type,open,...,close,volume,adj_high,adj_low,adj_close,adj_open,adj_volume,split_factor,exchange,date
0,Southern Peru Copper Corp. (SPCC) (Grupo Mexic...,Peru,Copper,"Cuajone Mine, Moquegua Department, Toquepala M...",-16.950,-70.633,200 (Cuajone,SCCO,Public,68.50,...,69.41,1121497.0,69.55,68.10,69.41,68.50,1121497.0,1.0,XNYS,2021-04-01T00:00:00+0000
1,Southern Peru Copper Corp. (SPCC) (Grupo Mexic...,Peru,Copper,"Cuajone Mine, Moquegua Department, Toquepala M...",-16.950,-70.633,200 (Cuajone,SCCO,Public,69.05,...,67.87,909869.0,69.17,67.82,67.87,69.05,929368.0,1.0,XNYS,2021-03-31T00:00:00+0000
2,Southern Peru Copper Corp. (SPCC) (Grupo Mexic...,Peru,Copper,"Cuajone Mine, Moquegua Department, Toquepala M...",-16.950,-70.633,200 (Cuajone,SCCO,Public,67.82,...,68.09,1102840.0,NaN,NaN,68.09,NaN,NaN,1.0,XNYS,2021-03-30T00:00:00+0000
3,Southern Peru Copper Corp. (SPCC) (Grupo Mexic...,Peru,Copper,"Cuajone Mine, Moquegua Department, Toquepala M...",-16.950,-70.633,200 (Cuajone,SCCO,Public,68.99,...,68.08,1233545.0,NaN,NaN,68.08,NaN,NaN,1.0,XNYS,2021-03-29T00:00:00+0000
4,Southern Peru Copper Corp. (SPCC) (Grupo Mexic...,Peru,Copper,"Cuajone Mine, Moquegua Department, Toquepala M...",-16.950,-70.633,200 (Cuajone,SCCO,Public,67.64,...,69.42,1469013.0,69.61,66.95,69.42,67.64,1469013.0,1.0,XNYS,2021-03-26T00:00:00+0000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,Southern Peru Copper Corp. (SPCC) (Grupo Mexic...,Peru,Copper,"Refinery at Ilo, Moquegua Department",-17.639,-71.338,330,SCCO,Public,54.41,...,53.58,1006163.0,55.32,53.29,53.58,54.41,1006163.0,1.0,XNYS,2020-11-12T00:00:00+0000
296,Southern Peru Copper Corp. (SPCC) (Grupo Mexic...,Peru,Copper,"Refinery at Ilo, Moquegua Department",-17.639,-71.338,330,SCCO,Public,54.20,...,54.14,695730.0,54.42,53.73,54.14,54.20,695730.0,1.0,XNYS,2020-11-11T00:00:00+0000
297,Southern Peru Copper Corp. (SPCC) (Grupo Mexic...,Peru,Copper,"Refinery at Ilo, Moquegua Department",-17.639,-71.338,330,SCCO,Public,54.43,...,54.16,894905.0,54.86,53.51,54.16,54.43,894905.0,1.0,XNYS,2020-11-10T00:00:00+0000
298,Southern Peru Copper Corp. (SPCC) (Grupo Mexic...,Peru,Copper,"Refinery at Ilo, Moquegua Department",-17.639,-71.338,330,SCCO,Public,56.13,...,54.66,1331250.0,56.98,54.64,54.66,56.13,1331250.0,1.0,XNYS,2020-11-09T00:00:00+0000
299,Southern Peru Copper Corp. (SPCC) (Grupo Mexic...,Peru,Copper,"Refinery at Ilo, Moquegua Department",-17.639,-71.338,330,SCCO,Public,54.89,...,55.13,584644.0,55.34,54.51,55.13,54.89,584644.0,1.0,XNYS,2020-11-06T00:00:00+0000

In [257]:
import datetime as datetime
merge_df.dtypes

Description      object
country          object
commodity        object
fac_name         object
latitude        float64
longitude       float64
capacity         object
symbol           object
Company_Type     object
open            float64
high            float64
low             float64
close           float64
volume          float64
adj_high        float64
adj_low         float64
adj_close       float64
adj_open        float64
adj_volume      float64
split_factor    float64
exchange         object
date             object
dtype: object

In [258]:
merge_df["date"]= pd.to_datetime(merge_df["date"])

In [260]:
merge_df.dtypes

Description                  object
country                      object
commodity                    object
fac_name                     object
latitude                    float64
longitude                   float64
capacity                     object
symbol                       object
Company_Type                 object
open                        float64
high                        float64
low                         float64
close                       float64
volume                      float64
adj_high                    float64
adj_low                     float64
adj_close                   float64
adj_open                    float64
adj_volume                  float64
split_factor                float64
exchange                     object
date            datetime64[ns, UTC]
dtype: object

In [261]:
merge_df["date"] = merge_df["date"].dt.strftime('%Y-%m-%d')

In [262]:
merge_df["date"].unique()

array(['2021-04-01', '2021-03-31', '2021-03-30', '2021-03-29',
       '2021-03-26', '2021-03-25', '2021-03-24', '2021-03-23',
       '2021-03-22', '2021-03-19', '2021-03-18', '2021-03-17',
       '2021-03-16', '2021-03-15', '2021-03-12', '2021-03-11',
       '2021-03-10', '2021-03-09', '2021-03-08', '2021-03-05',
       '2021-03-04', '2021-03-03', '2021-03-02', '2021-03-01',
       '2021-02-26', '2021-02-25', '2021-02-24', '2021-02-23',
       '2021-02-22', '2021-02-19', '2021-02-18', '2021-02-17',
       '2021-02-16', '2021-02-12', '2021-02-11', '2021-02-10',
       '2021-02-09', '2021-02-08', '2021-02-05', '2021-02-04',
       '2021-02-03', '2021-02-02', '2021-02-01', '2021-01-29',
       '2021-01-28', '2021-01-27', '2021-01-26', '2021-01-25',
       '2021-01-22', '2021-01-21', '2021-01-20', '2021-01-19',
       '2021-01-15', '2021-01-14', '2021-01-13', '2021-01-12',
       '2021-01-11', '2021-01-08', '2021-01-07', '2021-01-06',
       '2021-01-05', '2021-01-04', '2020-12-31', '2020-12-30',
       '2020-12-29', '2020-12-28', '2020-12-24', '2020-12-23',
       '2020-12-22', '2020-12-21', '2020-12-18', '2020-12-17',
       '2020-12-16', '2020-12-15', '2020-12-14', '2020-12-11',
       '2020-12-10', '2020-12-09', '2020-12-08', '2020-12-07',
       '2020-12-04', '2020-12-03', '2020-12-02', '2020-12-01',
       '2020-11-30', '2020-11-27', '2020-11-25', '2020-11-24',
       '2020-11-23', '2020-11-20', '2020-11-19', '2020-11-18',
       '2020-11-17', '2020-11-16', '2020-11-13', '2020-11-12',
       '2020-11-11', '2020-11-10', '2020-11-09', '2020-11-06'],
      dtype=object)

In [265]:
finance= merge_df.to_csv('financial.csv', 
                  index = None)